{% extends 'base.html' %}


{% block content %}
<h1>Регистрация</h1>


<form>
    <h1 class="h3 mb-3 fw-normal">Для регистрации на сайте введите свои данные</h1>


    <div class="form-floating">
        <input type="login" class="form-control" id="floatingInput" placeholder="username">
        <label for="floatingInput">Имя пользователя</label>
      </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Электронная почта</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Пароль</label>
    </div>


    <button class="btn btn-primary w-100 py-2" type="submit">Отправить</button>
  </form>

  {% endblock  %}