{% extends 'base.html' %}

{% block title %}
{{ data.wine_name }}
{% endblock %} 

{% block content %}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">{{ data.wine_name }}<span class="text-body-secondary"> {{ data.winery_name }}</span></h2>
      <h4 class="lead">страна производства: {{data.country}}, {{data.region}}</h4>
      <h4 class="lead">год производства: {{data.year}}</h4>
      <h4 class="lead">тип вина: {{data.wine_type}}</h4>
      <h4 class="lead">сорт винограда: {{data.grape}}</h4>
      <h4 class="lead">рейтинг на vivino: {{data.viv_rating}}</h4>
      <h4 class="lead">средняя цена: {{data.avg_price}}</h4>
    </div>
    <div class="col-md-3 order-md-1">
      <img src="{{data.img_link}}">
    </div>
   




  </div>
  <div class="featurette-heading fw-normal lh-1"> комментарии:</div>
 
<div class="" id="comments - {{ data.id }}">
    <div class="card">
              <div class="card-body" id="comments-{{ comm.author }}">
                      {% for e in comm %}
                          <div class="comment">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    {{e.user.username}}: {{e.text}}
                                </div>
                                
                                <div>
                                    <small class="text-muted">{{ e.date_created }}</small>
                                </div>
                              </div></div>
                              <br>
                               
                    {% endfor %}
                                </div>
              </div>
    </div>



  </div>
<br>
<div class="container">
<form class="input-group mb-3" method="POST" action="/create-comment/{{ data.id }}">
  <input type="text" id="text" name="text" class="form-control" placeholder="Оставьте свой комментарий" />
  <button type="submit" class="btn btn-primary">Оставить комментарий</button>
</form></div>
<br>


{% endblock  %}

